a {
    color: red;
    text-decoration: none;
    /* am pus decoration none ca by default cand <a> pune
    textul cu o linie jos. si noi acum am scos linia */
    font-family: sans-serif;
}
a:link {

}
a:visited {
    color: slateblue;

}
a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: seagreen;
    text-decoration-color: salmon;
    /* text-decoration-style: dotted; */ 
}
a::selection {
    background-color: slateblue;
/* selection se refera in momentul in care selectez cu mousul
un paragraf. Acesta se poate pune pe un text mic, sau pe tot body-ul */
} 
a::first-line {
    text-transform: uppercase;
}

.magic {
    display: none;
    position: absolute;
    top: 1em;
    background-color: slateblue;
    border-radius: 7px;
}
.dropdown {
    position: absolute;
    background-color: steelblue;
    padding: 20px;
}
.dropdown:hover .magic {
    display: block;
}

.trans {
    background-color: tomato;
    border-radius: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transition: background-color 2s; */
    transition: transform 1s, backgroud-color 2s;
    transition: 1s;
}
.trans:hover {
    cursor: pointer;
    padding: 30px;
    transform: rotate(20deg) scale(1,2);
    /* 1=width, 2=height */
    background-color: yellowgreen;
}

.trans2 {
    background-color: red;
    position: absolute;
    top: 20%;
    left: 20%;
    padding: 30px;
    transform: rotate(-30deg);
    transform-origin: top left;
    transition: transform 2s;
    transition-delay: 1s;
}